/* PaymentDashboard.css */
.payment-dashboards {
    padding-top: 5%;
  }
  
  .dashboard-container {
    /* display: flex;
    flex: 1;
    align-items: center; */
    display: flex;
    flex-direction: column;
    height: 48vh;
    border: 2px solid #e48fcf;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    width: 97%;
    justify-content:center ;
    
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    /* display: flex; */
  }
  
  .payment-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .payment-table th,
  .payment-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
  }
  
  .payment-table th {
    background-color: #b98ba0;
  }
  
  .total-amount {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      margin-right: 10px;
    }
    span {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  